.main{
    width: auto;
    max-height: 600px;
    text-align: center;
    margin-bottom: 50px;
}

.main img{
    width: 100%;
    height: 600px
}

.contents{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

.about__group{
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.img_prof{
    max-width: 100px;
    height: auto;
}

.about img{
    width: 100%;
    height: auto;
    border-radius:
     50%;
}

.about__content{
    width: 450px;
}

h2{
    text-align: center;
    margin-bottom: 50px;
}

.bicycle{
    display: flex;
    justify-content: space-between;
    text-align: center;
    
}

.bicycle img{
    max-width: 95%;
    width: 100%;
    gap: 10px;
}
.footer{
    text-align: center;
    margin: 80px 0 20px 0;
    
}

@media screen and (max-width: 600px){
    .about__group,.bicycle{
        display: flex;
        flex-direction: column;
    }
}